[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accelerate = "==0.33.0"
datasets = "==2.21.0"
sentence-transformers = "==3.0.1"
torch = "==2.4.0"
transformers = "==4.44.2"

[dev-packages]

[requires]
python_version = "3.8"
